body {
  background-image: linear-gradient(to right, #020403, #ae0101 , #ae0101, #ae0101, #020403 );
  font-family: "Roboto", sans-serif;
  color: white;
}
.signup-box {
  width: 360px;
  height: 690px;
  margin: auto;
  background-color: rgb(29, 27, 28);
  border-radius: 3px;
}
h1 {
  text-align: center;
  padding-top: 10px;
}
form {
  width: 300px;
  margin-left: 20px;
}
form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input {
  width: 100%;
  padding: 6px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
.btnsign {
  cursor: pointer;
  width: 315px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 20px;

  margin-left: 20px;
}
.btnsign:hover {
  background-color: #43b195;
}
p {
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 10 px;
}
.para-2 a {
  color: #49c1a2;
}
select {
  width:310px;
  height: 30px;
}
