:root{
    --bgcolor: black;
    --bgcolor1: rgb(29, 27, 28);


    --txtcolor: white;
    --txtcolor1: rgb(236, 236, 236);

    --btnColor: rgb(18, 86, 143);
    --btnColor1: rgb(53, 63, 116);

    --imgsize: 500px;
}

body{
margin: 0;

/*background-color: var(--bgcolor); */
background-image: linear-gradient(to right, #020403, #ae0101 , #ae0101, #ae0101, #020403 );
color: var(--txtcolor);
}

header{
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bgcolor1);    
    color: var(--txtcolor1);
}
header div{
    padding: 20px;
}

#brand{
    display: flex;
}
#bname{
    position: relative;
    left: 50px;

    font-size: 1.5rem;
    font-weight: bolder;
}
header a{
    text-decoration: none;
    color: var(--txtcolor1);
}
.Prad{
border-radius: 8px;
}
.Pbut{
    background-color: var(--btnColor);
    color: var(--txtcolor);
    cursor: pointer;

    font-weight: bold;
}
.Pbut:hover{
    background-color: var(--btnColor1);
}

#login{
    /*debug here = return it into none*/
    display: none;

    justify-content: space-between;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--bgcolor1);

    padding-top: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .8rem;

    font-size: 20px

}
#logdetails{
    display: flex;
    flex-direction: column;

    align-items: center;
    flex: 3;
}

.details{
    display: flex;
    
    justify-content: space-between;
    padding-bottom: .8em;
}

.loginheader{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;

    padding-bottom: .5em;
}


#enter{
    padding-top: .5em;

    display: flex;  
    flex-direction: column;
    align-items: center;
}

#loginbtn{
    font-size: 1em;
    font-weight: bold;
}

.splat{
    padding-left: .5em;
    height: 1.5em;
}
#signup{
    align-items: center;
    text-align: center;

    flex: 1;
}

.vertical-line {
    border-left: 2px solid rgb(250, 250, 250);
    margin-left: 1em;
    margin-right: 1em;
  }
.hidden{
    display: none;
}

#homepage{
    margin: 4rem;
    display: grid;
    

    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 100px;
    
}
#homepage div{
    text-align: center;
}


.imgsize{
    width: var(--imgsize);
    height: var(--imgsize);
}

#footer{
    display: flex;
    justify-content: space-evenly;
    
    padding:40px;
    background-color: var(--bgcolor1);
}
#socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slinks{
    padding-left: 20px;
    height: 40px;   
}
#infos{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links{
    text-decoration: none;
    color: var(--txtcolor);
}


.allProducts{
    position: relative;
}

.allP{
    opacity: 0;
    transition: opacity 0.3s ease;

    position: absolute;
    padding: 20px;
    
    font-weight: bolder;
    font-size: 55px;
}

.bSell img{
    transition: all 0.3s ease;   
}

.bSell:hover img{
    filter: brightness(20%);
}

.bSell:hover span{
    z-index: 1;
    opacity: 1;
    color: var(--txtcolor);
}